/* Styling for HTML elements */
body {
  padding: 0;
  margin: 0;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 18px;
  line-height: 150%;
  color: #255;
  background: #E0F2F7;
}

header {
  background: #333;
}


#portfolio {
  clear:left; 
  width:90%;  
  text-align : left;
  font-size:16px;
  height : 1.25em;
  
}

#projects {
  text-align : left;
  font-size:16px;
  height : 1.25em;
  
}



li {
  font-size: 18px;
  
}


h1 {
  padding: 20px 0;
  margin: 0;
  margin-bottom: 20px;
  font-size: 28px;
  text-align: left;
}


a {
  color: #d21034;
}

b {
  color: red;
}


hr { display: block; height: 1px;
    border: 0; border-top: 1px solid;
    border-color: #0404B4;
    width:85%;
}

.container-border {
  border:solid;  
  border-width : 10px;  
  border-color : #0404B4;  
  width:95%;  
  min-height:3000px;  
    
}
/* Selecting elements by class */
.container {
  display:inline-block;  
  width:95%;  
  margin-left:30px;
  padding-left:30px;
  margin-right:30px;
  padding-right:30px;
    
}

/* Selecting elements by ID */
#main-bio,
#bio-image {
  display:inline-block;  
  float: left;
  font-size:20px;
  height : 1.5em;
  
}


#figure {
  position: relative;
}

#bio-name {
  position: absolute;
  top: 150px;
  left: 30px;
}

#main-bio {
  width: 95%;
}

#contact-info {
  display:inline-block;  
  width : 700px;
    
}

#bio-image {
  display:inline-block;  
  float:left;  
  width: 275px;
  height: 275px;
  margin-right: 20px;
  border:solid;
  border-color:red;
}

#self-desc, #skills {
  display:inline-block;  
  text-align : left;
  font-size:18px;  
  width: 90%;
  min-height: 150px;
  line-height:1.5em;  
  overflow:auto;  
}

#myBtn {
   display: none;
   position: fixed;
   bottom: 20px;
   right: 30px;
   z-index: 99;
   font-size: 18px;
   border: none;
   outline: none;
   background-color: rgb(108, 168, 207);
   color: white;
   cursor: pointer;
   padding: 15px;
   border-radius: 4px;
   }
                
#myBtn:hover {
       background-color: #555;
   }


@media screen and (max-width: 1350px) {

body {
  font-size: 14px;
  line-height: 125%;
}

#self-desc, #skills {
  clear:left;  
  text-align : left;
  font-size:16px;  
  width: 90%x;
  float:left; 
  text-overflow: ellipsis;
  line-height:1.5em;  
}

.container-border {
      border:solid;  
      border-width : 5px;  
      width:95%;  
      min-height: 3500px;
     
}
    

#bio-image {
  width: 200px;
  height: 200px;
  margin-right: 10px;
  border:solid;
  border-color:red;
}


}


@media (max-width: 695px) {


.container-border {
    border-width : 5px;  
    width:95%;  
    min-height: 3500px;
    word-break: break-all;
    
}

#c-info {
/*  word-break: break-all;
  white-space:normal;  
  font-size:12px;
  padding-right:100px;*/
  display:none;  
    
    } 
    
#self-desc {
  word-break: break-word;
  white-space:normal;  
  padding-right:200px;
  font-size:14px;
  width:620px;  
}


.tableauPlaceholder {
    visibility:hidden;
    
    }
    
     
    
#bio-image {
  width: 100px;
  height: 100px;
  margin-right: 10px;
  border:solid;
  border-color:red;
}


}



/*
#contact-info {
    clear:left;
    width:50%;
    padding-left:30px;
      }

.container-border {
      border:solid;  
      border-width : 2px;  
      border-color : red;  
      width:95%;  
      padding-bottom: 100%;
     
}
    
#portfolio {
  clear:left; 
  width:90%;  
  text-align : left;
  font-size: 12px;
  height : 1.25em;
  
}

#projects {
  text-align : left;
  font-size: 12px;
  height : 1.25em;
  
}



li {
  font-size: 12px;
  
}


h1 {
  font-size: 16px;
}


h3 {
  font-size: 14px;
}

    
.container {
  display:inline-block;  
  width:95%;  
  margin-left:10px;
  padding-left:10px;
  margin-right:10px;
  padding-right:10px;
    
}

#main-bio,
#bio-image {
  display:inline-block;  
  float: left;
  font-size:12px;
  height : 1.25em;
  
}


#figure {
  position: relative;
}

#bio-name {
  position: absolute;
  top: 150px;
  left: 30px;
}



#bio-image {
  width: 100px;
  height: 100px;
  margin-right: 10px;
  border:solid;
  border-color:red;
}

#self-desc, #skills {
  clear:left;  
  text-align : left;
  font-size:12px;  
  width: 90%x;
  float:left; 
  min-height: 150px;
  line-height:1.5em;  
}

.tableauPlaceholder {
    width : 60%;
    }
    
    
#myBtn {
   display: none;
   position: fixed;
   bottom: 10px;
   right: 10px;
   z-index: 99;
   font-size: 10px;
   border: none;
   outline: none;
   background-color: rgb(108, 168, 207);
   color: white;
   cursor: pointer;
   padding: 15px;
   border-radius: 4px;
   }

}


@media screen and (max-width: 700px) {

.container-border {
  border-width : 5px;  
  min-height:4500px;  
    
}

#contact-info {
    clear:left;
    width:50%;
    padding-left:10px;
      }

#self-desc {
  clear:left;
  padding-left:10px;
  display:inline-block;  
  text-align : left;
  font-size:18px;  
  width: 90%;
  min-height: 150px;
  line-height:1.5em;  
  overflow:auto;  
}

    
    
}*/